language: go

go:
  - 1.8
  - 1.9
  - tip

before_install:
  - go get github.com/mattn/goveralls

script:
  - go get -t -v ./...
  - go test -v ./...

after_script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
